div {
}

img {
  display: block;
  height: 300px;
  text-align: center;
}

a.navlink {
  display: inline-block;
  text-decoration: none;
  padding: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12pt; 
  color: black;
  cursor: pointer;
}

a.navlink#home_link {
  font-weight: bold;
  font-size: 14pt;
  color: #f36e21;
}

a.navlink#profile_link {
  color: black;
}

a.navlink#log_out_link {
  color: gray;
}

div#window {
  padding: 10px;
}


#nav {
  overflow: auto;
  border-bottom: 1px solid white;
}

#user_navlink_list {
  float: right;
}


html {
  overflow-y: scroll;
}

body {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  font-size: 12pt;
  background-color: #fff7de;
}

input[type=text], input[type=password] {
  border:1px;
  border-style:solid;
  border-color: #999;
  border-radius:2px;
  height: 30px;
  width: 300px;
  padding-left:10px;
  margin-top: 3px; 
  margin-bottom: 3px; 
  font-family: "Courier New", Courier, monospace;
  font-size: 12pt;
  background-color: white;
}

button, label.upload_button {
}

textarea {
  width: 400px;
  height: 120px;
}

button, label.upload_button {
  display: inline-block;
  vertical-align: top;
  border:1px;
  border-style:solid;
  border-color: #999;
  background-color: #ddd;
  border-radius:2px;
  padding: 4px 9px;
  margin-right:10px;
  margin-top: 3px; 
  margin-bottom: 3px; 
  font-family: "Courier New", Courier, monospace;
  font-size: 12pt;
  cursor: pointer;
}

label.upload_button span {
}

label.upload_button input[type=file] {
  position: fixed;
  top: -500px;
}

button#log_in_button {
  border-color: #dd6005;
  background-color: #ffc107;
  color: black;
  font-weight: bold;
}

button#sign_up_button {
  border-color: #0560dd;
  background-color: #07c1ff;
  color: white;
  font-weight: bold;
}

.heading {
  font-size: 16pt;
  margin-top: 10px;
  padding-bottom: 2px;
  font-weight: bold;
}

.panel {
  display: inline-block;
  margin: 6px;
  padding: 10px;
}

#start_section {
  padding-left: 200px;
  padding-top: 100px;
}

#start_section .panel {
  margin-bottom: 20px;
}

#profile_full_name {
  font-size: 20pt;
  font-weight: bold;
  margin-bottom: 20px;
}

#note_editor_panel {
  padding-bottom: 16px;
}

#note_view_panel {
  width: 100%;
  padding-bottom: 16px;
}

#note_view_author {
  font-weight: bold;
  padding: 0px;
}

#note_view_text {
  padding-left: 0px;
}


